.Fillter input[type=text]{
    width: 100% !important;
}
.Fillter input[type=checkbox] {
   margin: 2px
}
.form-archive {
    padding: 5px
}
.SubGroups {
    margin: 7px 14px 7px 0;
}
.btn-bg-blue {
    background: #03A9F4 !important;
}
.btn-bg-blue:hover {
    background: #4FC3F7 !important;
    color: #fff !important
}
.cursor {
    cursor: pointer
}
.Center {
    text-align: center
}
.text-withe {
    color: #fff;
}
.text-blue {
    color: #1976D2;
}
.Text-size-panel-list {
    font-size: 16px;
}
.bg-group-item-blue {
    background: #039BE5;
}
.imgae_avatar_userpanel {
    width: 120px;
    height: 100px;
    border-radius: 100%;

}